<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header class="j-space-between bgc-header font-color header">
        <%- include ("../partials/header-home") %>
    </header>
    <form action="/products" method="post" enctype="multipart/form-data" id="formValidation">
        <section>
            <article class="article-detail-product article-product-edit">
                <section class="top-izquierda">
                    <div class="parte-derecha">
                        <div id="carousel-product-details" class="carousel carrusel-product slide"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img/products/default_img_product.jpg" alt="img1">
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/products/default_img_product.jpg" alt="img1">
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/products/default_img_product.jpg" alt="img1">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carousel-product-details" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carousel-product-details" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <!--  <div class="imgs-del-producto">
                    </div> -->

                    <label for="image">Imagenes de productos</label>
                    <input type="file" id="avatar_p_Create"
                        class="form-select form-control <%=locals.errors && errors.img_product_create ?' is-invalid' : ""  %> "
                        name="img_product_create" multiple>
                    <p class="text-danger" id="msg_error_files">
                        <%=locals.errors&& errors.img_product_create ? errors.img_product_create.msg : "" %>
                    </p>

                </section>
                <section class="parte-derecha data">
                    <div class=" container-title-icon">
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Nombre del producto</label>

                            <input type="text" name="name" id="title"
                                value="<%= locals.oldData && oldData.name ? oldData.name :""%>" id=""
                                class="form-control<%=locals.errors && errors.name ?" is-invalid": "" %>">
                            <p class="text-danger" id="error_title">
                                <%= locals.errors && errors.name ? errors.name.msg : "" %>
                            </p>

                        </div>
                        <div class="icons">
                            <a href="">
                                <i class="fas fa-shopping-bag"></i>
                            </a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Breve description</label>
                        <input type="text" name="shortDescription" id="shortDescription"
                            value="<%=locals.oldData && oldData.shortDescription ? oldData.shortDescription : "" %> "
                            id="" class="form-control <%= locals.errors && errors.shortDescription ? " is-invalid" : ""
                            %>">
                        <p class="text-danger" id="error_shortDescription">
                            <%= locals.errors&& errors.shortDescription ? errors.shortDescription.msg : "" %>
                        </p>

                    </div>
                    <div>
                        <div class="container-desciption" style="display:flex">
                            <div class="mb-3">
                                <label for="" class="form-label">Precio</label>
                                <input type="text" name="price" id="price"
                                    value="<%=locals.oldData&& oldData.price ? oldData.price : "" %> " id=""
                                    class="form-control <%= locals.errors && errors.price ? " is-invalid" : "" %> ">
                                <p class="text-danger" id="error_price">
                                    <%= locals.errors && errors.price ? errors.price.msg : "" %>
                                </p>
                            </div>
                        </div>
                        <label for="" class="form-label">Seleccione un color</label>
                        <input type="color" class="form-control form-control-color" name="color" id="exampleColorInput"
                            value="#563d7c" title="Choose your color">
                        <div class="picker" name="color"></div>
                        <label for=""> Seleccione tamaño</label>
                        <div class="form-floating">
                            <select class="form-select <%= locals.errors && errors.size ? " is-invalid" : "" %>"
                                name="size" id="size" aria-label="Floating label select example">
                                <option value="">Seleccione un talle</option>
                                <% for(size of sizes){%>
                                    <option value="<%=size.id%>" <%=((locals.oldData)&&(oldData.size==size.id))
                                        ? "selected" : "" %> >
                                        <%= size.size %>
                                    </option>
                                    <% }%>

                            </select>
                            <p class="text-danger" id="error_size">
                                <%= locals.errors && errors.size ? errors.size.msg : "" %>
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Descuento</label>
                            <input type="text" name="discount"
                                value="<%= locals.oldData&& oldData.discount?oldData.discount : ""  %> "
                                placeholder="Descuento" class="form-control" id="">
                        </div>
                        <label for=""> Seleccione empresa de envios</label>
                        <div class="form-floating">
                            <select class="form-select" name="envio" id="" aria-label="Floating label select example">
                                <% const empTransporte=["Urbano","Andreani","Correo Argentino","Oca"] %>
                                    <% for(element of empTransporte) { %>
                                        <option value="<%= element  %> ">
                                            <%=element %>
                                        </option>
                                        <% } %>

                            </select>
                            <label for="floatingSelect">Works with selects</label>
                        </div>
                    </div>
                    <div class=" cont-btn-buy-dp">
                        <button type="submit" class=" btn btn-primary">Crear Porducto</button>
                    </div>
                </section>
            </article>


            <section class=" bottom-article">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Descripción</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Detalle</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact"
                            aria-selected="false">Recomendaciones</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <label for="product-description" class="product-description">Descripcion del
                                producto</label>
                            <div class="descripcion-detail-product">
                                <textarea id="floatingTextarea2" style="height: 100px" name="longDescription"
                                    class="form-control  <%=locals.errors && errors.longDescription ? " is-invalid" : ""
                                    %>" placeholder="Descripcion del producto"
                                    id="longDescription" style="height: 100px"
                                    name="longDescription"><%=locals.oldData && oldData.longDescription ? oldData.longDescription : "" %></textarea>
                                <label for="floatingTextarea2">Descripcion</label>
                            </div>
                            <p class="text-danger" id="error_longDescription"></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="details-glasses">
                            <div class="div1-detail-glasses">

                                <label for="">Tamaño</label>
                                <input type="text" value="">

                                <label for="">Peso:</label>
                                <input type="text" name="weigth" value="" placeholder="Solo numero">

                                <label for=""> Material</label>
                                <div class="form-floating">
                                    <select class="form-select <%=locals.errors && errors.material ? " is-invalid" : ""
                                        %>"
                                        name="material" id="material" aria-label="Floating label select example">
                                        <option value="" selected>Seleccione un material</option>
                                        <% for(material of materials){%>
                                            <option value="<%= material.id %>" <%=locals.oldData&&
                                                oldData.material==material.id ? "selected" : "" %>>
                                                <%= material.material %>
                                            </option>
                                            <% }%>

                                    </select>
                                    <p class="text-danger" id="error_material">
                                        <%= locals.errors && errors.material? errors.material.msg : "" %>
                                    </p>
                                    <label for="floatingSelect">Works with selects</label>
                                </div>

                            </div>
                            <div class=" div2-detail-glasses">

                                <label for=""> Forma:</label>
                                <input type="text" name="shape" value="">

                                <label for=""> Borde: </label>
                                <input type=" text" name="border" value="">

                                <label for=""> Especificacion del lente : </label>
                                <input type="text" name="glassSpecification" value="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            ...</div>
                    </div>
                </div>
            </section>
        </section>
    </form>

    <footer class="footer-produts">
        <%- include ("../partials/footer") %>
    </footer>
    <%- include('../partials/scripts-boostrap.ejs') %>

        <%- include('../partials/scripts-boostrap.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="/js/front-validation/create-product-validation.js"></script>

</body>

</html>